{% include 'header.twig' %}
{% include 'nav.twig' %}

<img id="logo" class="logo col-md-2" src="../images/cat_icon/kitty_whiteKontur.png" alt="Logo CATalog">
<div id="start" class="container">

    {#<div id="nav" class="row">#}
        {#<div class="col-md-12">#}
            {#<a href="/logout">#}
                {#<div class="btn btn-secondary float-right m-2">Logout</div>#}
            {#</a>#}
            {#<a href="/profile">#}
                {#<div class="btn btn-secondary float-right m-2">Mein Konto</div>#}
            {#</a>#}
            {#<a href="/newsletter">#}
                {#<div class="btn btn-secondary float-right m-2">Cataletter</div>#}
            {#</a>#}
            {#<a href="/dashboard">#}
                {#<div class="btn btn-secondary float-right m-2">Dashboard</div>#}
            {#</a>#}
            {#<a href="/rechronik">#}
                {#<div class="btn btn-secondary float-right m-2">Chronik</div>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}
    <div class="col-md-6 offset-md-3">
        <h1><b>CAT</b>alog</h1>
        <h5>Teile deine schönsten Katzenfotos mit deinen Freunden und der ganzen Welt!</h5>
        </br>
    </div>

    <div class="row">
        {% if error %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
        {% endif %}

        <div class="col-md-6 offset-md-3">
            <h3>Beitrag erstellen</h3>

            <form id="image-form" action="/chronik" method="post" enctype="multipart/form-data" id="pictureForm">
                <input id="image" type="file" name="image" style="display: none"/>
                <input id="text-beschreibung" class="col-md-12" type="text" name="text" placeholder="Beschreibe dein Katzenfoto"/>
                </br>
                <button id="image-share" class="btn btn-primary offset-md-7">Auswählen und Teilen</button>
            </form>            
        </div>
    </div>

    {% for cat in cats %}

        <div class="post card col-md-6 offset-md-3">
            <img class="card-img-top" src="/{{ cat.file }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ cat.user }}</h5>
                <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
                <p class="card-text">{{ cat.text }}</p>
            </div>
        </div>

    {% endfor %}

    <!-- POSTS VON ALLEN HIER -->

    <script>
        let image = document.querySelector("#image");
        let imageShare = document.querySelector("#image-share");
        let imageForm = document.querySelector("#image-form");

        imageShare.addEventListener('click', function(e) {
            e.preventDefault();
            image.click();
        });
        image.addEventListener('change', function() {
            imageForm.submit();
        })
    </script>
</div>

{% include 'footer.twig' %}