{% include 'header.twig' %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <a href="/logout">
                <div class="btn btn-secondary float-right m-2">Logout</div>
            </a>
            <a href="/profil">
                <div class="btn btn-secondary float-right m-2">Mein Konto</div>
            </a>
            <a href="/newsletter">
                <div class="btn btn-secondary float-right m-2">Cataletter</div>
            </a>
            <a href="/dashboard">
                <div class="btn btn-secondary float-right m-2">Dashboard</div>
            </a>
            <a href="/chronik">
                <div class="btn btn-secondary float-right m-2">Chronik</div>
            </a>
        </div>
    </div>

    {% if authorized %}
        {% if type == "image" %}
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Your Clip with token: {{ token }}</div>
                <img src="/{{ content }}" class="card-img-top" alt="Clipboard image">
            </div>
        {% else %}
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Your Clip with token: {{ token }}</div>
                <div class="card-body">
                    <p class="card-text">{{ content }}</p>
                </div>
            </div>
        {% endif %}
    {% else %}
    <div class="card text-white bg-danger mb-3">
            <div class="card-header">No Permission</div>
            <div class="card-body">
                <p class="card-text">You are not allowed to view this clip!</p>
            </div>
        </div>
    {% endif %}
    
</div>

{% include 'footer.twig' %}
