{% include 'header.twig' %}

<nav>
    <ul class="offset-md-2">
    </ul>
</nav>

<img id="logo" class="logo col-md-2" src="../images/cat_icon/kitty_whiteKontur.png" alt="Logo CATalog">
<div id="start" class="container">

    {% for cat in cats %}

        <div class="post card col-md-6 offset-md-3">
            <img class="card-img-top" src="/{{ cat.file }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ cat.user }}</h5>
                <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
                <p class="card-text">{{ cat.text }}</p>

                <div class="row" id="buttons">
                    <div class="span6">
                        <form  method="post" action="/editPost">
                            <div class="form-group">
                                <input type="hidden" id="id" name="id" value="{{ cat.id }}">
                                <input class="col-md-12" type="text" id="text-beschreibungt" name="text" placeholder="Was willst du noch über das schöne Bild sagen?">
                                <button class="btn btn-primary offset-md-7" type="submit" id="edit" >Save</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>

    {% endfor %}


{% include 'footer.twig' %}