{% include 'header.twig' %}
<img class="logostart col-md-2 offset-md-5" src="../images/cat_icon/kitty(2).png" alt="Logo CATalog">
<h1 class="col-md-2 offset-md-5"><b>CAT</b>alog</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Clipboard Login</h5>
          <form method="POST" action="/login">
            <div class="form-label-group">
              <label for="inputEmail">Benutzername: </label>
              <input type="text" id="username" name="username" class="form-control" required autofocus>
            </div>
            <br>
            <div class="form-label-group">
              <label for="inputPassword">Passwort: </label>
              <input type="password" id="password" name="password" class="form-control" required>
            </div>
            {% if loginError %}
            <br>
            <p class="text-danger">Der angegebene Benutzername und das Passwort stimmen nicht überein, versuchen Sie es erneut!</p>
            {% endif %}
            
            <hr class="my-4">

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
           <a href="/register"><button class="btn btn-lg btn-link btn-block text-uppercase" type="button">Register</button></a> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.twig' %}