<nav>
    <ul class="offset-md-2">
        <li><a href="/rechronik">Chronik</a> </li>
        <li><a href="/dashboard">Dashboard</a> </li>
        <li><a href="/newsletter">Cataletter</a> </li>
        <li><a href="/profile">Mein Konto</a> </li>
        <li><a href="/logout">Logout</a> </li>
    </ul>
</nav>