{% include 'header.twig' %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <a href="/logout">
                <div class="btn btn-secondary float-right m-2">Logout</div>
            </a>
            <a href="/profile">
                <div class="btn btn-secondary float-right m-2">Mein Konto</div>
            </a>
            <a href="/newsletter">
                <div class="btn btn-secondary float-right m-2">Cataletter</div>
            </a>
            <a href="/dashboard">
                <div class="btn btn-secondary float-right m-2">Dashboard</div>
            </a>
            <a href="/rechronik">
                <div class="btn btn-secondary float-right m-2">Chronik</div>
            </a>
        </div>
    </div>

    NEWSLETTER
</div>

<div class="container">
    <form method="post" target="_blank" action="https://fh-kufstein.us3.list-manage.com/subscribe/post?u=4c9f2e1ce2bf774124546bbb0&amp;id=73484788f4">
        <p>
            Möchtest du wöchentlich mit den schönsten Katzenfotos überhäuft werden?
        </p>
        
        <button type="submit" class="btn btn-primary" >Subscribe</button>
    </form>
</div>

<div class="container">
    <form method="post" action="/subscribe">
        <label for="email">Email Address</label>
        <input type="email" name ="email" id="email" required>
        
        <button type="submit" class="btn btn-primary" >Subscribe</button>
    </form>
</div>

{% include 'footer.twig' %}