{% include 'header.twig' %}

<div class="container">
    <div class="alert alert-primary" role="alert">
        You can share the clipboard with following URL:<br>
        <b>{{ uri }}</b>
    </div>
</div>

{% include 'footer.twig' %}